<mat-card>
    <mat-card-header>
        <mat-card-title>Dashboards</mat-card-title>
      </mat-card-header>
    <mat-card-content >
    
        <br><br>
        <div style="width: 40%; float: left;padding-left: 25px;">
        <mat-card style="background-color: #dfecf3;">
            <mat-card-header>
                <mat-card-title>GAP Dashboard</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <canvas baseChart *ngIf="isBrowser"
                        [data]="pieChartData"
                        [labels]="pieChartLabels"
                        [type]="pieChartType">
                </canvas>
            </mat-card-content>

        </mat-card>
        </div>

        <div style="width: 40%; float: right;padding-right: 25px;">
            <mat-card style="background-color: #dfecf3;">
                <mat-card-header>
                    <mat-card-title>Implementation Dashboard</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <canvas baseChart *ngIf="isBrowser"
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [type]="pieChartType">
                    </canvas>
                </mat-card-content>
            
            </mat-card>
        </div>
    </mat-card-content>
    
    <mat-card style="margin-top: 75px;" id="bar-chart-ui">

        <mat-card-header >
            <mat-card-title>Framework Dashboard</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div >
                <br><br>
                <canvas baseChart *ngIf="isBrowser"
                    [data]="barChartData"
                    [labels]="barChartLabels"
                    [type]="barChartType"
                    [options]="barChartOptions"
                    >
                </canvas>
            </div>
        </mat-card-content>
    </mat-card>
</mat-card>
